<%- contentFor('meta') %>
<title>Wishlist Index</title>
<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<%- contentFor('body') %>
<div id="wishlists-index" class="container my-3 text-center">
  <h1 class="mb-3">Wishlists</h1>

  <%- include('_partials/filter') %>

  <% if (wishlists.length > 0) { %>
    <ul class="list-unstyled">
      <% wishlists.forEach(function(wishlist){ %>
        <li class="my-1">
          <a class="font-weight-bold" href="/wishlists/<%= wishlist.id %>"><%= wishlist.title %></a>
        </li>
        <% }) %>
    </ul>

    <%- include('_partials/pagination') %>
  <% } else { %>
    <div>No Wishlists</div>
  <% } %>
</div>
