<%- contentFor('meta') %>
<title>My Wishlist Index</title>
<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
  $(document).ready(function() {
    $('#my-wishlists-index').on('submit', '.delete-form', function(e) {
      e.preventDefault()

      axios({
        url: $(e.target).data('url'),
        method: $(e.target).data('method')
      }).then(function() {
        window.location.reload()
      }).catch(function(err) {
        alert(err.response.data.message)
      })
    })
  })
</script>
<%- contentFor('body') %>
<div id="my-wishlists-index" class="container my-3 text-center">
  <h1 class="mb-3">My Wishlists</h1>

  <%- include('_partials/filter') %>

  <a class="btn btn-success btn-sm mb-3" href="/my/wishlists/new">New</a>

  <% if (wishlists.length > 0) { %>
    <ul id="wishlists-list" class="list-unstyled">
      <% wishlists.forEach(function(wishlist){ %>
        <li class="my-1">
          <a class="show-btn font-weight-bold" href="/my/wishlists/<%= wishlist.id %>"><%= wishlist.title %></a>
          <a class="edit-btn btn btn-info btn-sm" href="/my/wishlists/<%= wishlist.id %>/edit"><i class="fas fa-edit"></i></a>
          <form class="delete-form d-inline" data-url="/api/my/wishlists/<%= wishlist.id %>" data-method="DELETE">
            <button class="btn btn-danger btn-sm" type="submit"><i class="fas fa-trash"></i></button>
          </form>
        </li>
        <% }) %>
    </ul>

    <%- include('_partials/pagination') %>
  <% } else { %>
    <div>No Wishlists</div>
  <% } %>
</div>
